body {
    background-image: url(dovestones.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainheading {
    text-shadow: rgb(0, 0, 0) 1px 0 4px;
}
.mainsubheading {
    text-align: center;
    font-size: 200%;
}
.mainsubsubheading {
    text-align: center;
    font-size: 160%;
}
.container {
    text-align: center;
    display:flex
    min-height: 10vh;
    flex-direction: row;
    
}
.button {
    border-style: groove;
    border-color: black;
    border-bottom: hidden;
    border-top: hidden;
    display: inline-block;
    min-width: 20%;
    height: 50px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-shadow: rgb(0, 0, 0) 1px 0 4px;
    background-color: rgba(104, 104, 104, 0.7);
    text-align: center;
    color: rgb(255, 255, 255);
}
h1 {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
.headdiv{
    background-color: rgba(0, 0, 255, 0.2);
    margin: 150px;
    padding: 20px;
    color: white
}
.maindiv {
    margin: 50px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.7);
}
.buttontext {
    color:whitesmoke;
    text-decoration: none;
}